.intro{
  background: $darkpink;
  display: flex;
  justify-content: center;
  align-items: center;
  @include dim(600px, 100%);
  background-size: cover;
  h1{
    font-size: 50px;
    color: white;
  }
}
h2{
  font-size: 35px;
  color: $gray;
}
.headerpic{
  object-fit: cover;
  height: 500px;
  border-radius: 340px;
  border: 15px solid white;
  box-shadow: 0px 10px 15px 5px #a37979;
}
.intro__words{
  width: 450px;
  margin-left: 100px;
  p{
    font-size: 25px;
  }
}
.intro__button{
  background: white;
  color: $darkpink;
  font-size: 20px;
  @include dim(50px, 350px)
}
.mainbody{
  padding: 0px 15px;
  @include column;
  width: 100%; max-width: 700px;
  p{
    color: gray;
    margin: 20px 20px;
    span{
      font-weight: bold;
      font-size: 20px;
      color: $darkpink;
    }
  }
}
#line{
  width: 100%;
  margin-bottom: 20px;
  border: 2px solid $darkpink;
}
.service{
  width: 100%;
  margin-left: 20px;
  padding: 10px 20px 0px 0px;
  border-bottom: 2px solid $lightgreen;
  font-size: 20px;
  h3{
    font-size: 20px;
  }
}
.name-price{
  @include row(space-between);
  color: $darkgreen;
  &:hover{
    cursor: pointer;
  }
}
h3{
  font-size: 17px;
  margin: 0px;
  margin-bottom: 10px;
}
.name-green{
  color: $darkgreen;
}
.name-pink{
  color: $darkpink;
}
.price{
  color: $darkpink;
  font-weight: bold;
}
.description{
  margin-left: 20px;
  color: $gray;
}
.details{
  @include column;
  overflow: hidden;

  animation-name: smooth-toggle;
  animation-duration: 200ms;
  animation-timing-function: linear;
}
@keyframes smooth-toggle{
  from{
    transform: height (0px);
  }
  to{
    transform: max-height (100px);
  }
}
button{
  margin: 15px 0px;
  @include dim(40px, 300px);
  border: none; border-radius: 10px;
  background: $darkpink;
  color: white;
  font-weight: bold;
  font-size: 16px;
  &:hover{
    cursor: pointer;
    transform: scale(1.06);
  }
}
